.nav-pills {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.nav-pills a {
	display: block;
	cursor: pointer;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border: 1px solid #ccc;
}

.bo {
	display: block;
	cursor: pointer;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border: 1px solid #ccc;
	font-weight: bold;
}

.dim-one {
}

.dim-zero {
}

.dim-unclear {
}

.navig {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.navig a {
	display: block;
	cursor: pointer;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border: 1px solid #ccc;
}

table.points td {
	padding: 1px;
	text-align: center;
}

table.sr td {
	padding: 1px;
	text-align: center;
}
